openapi: '3.0.2'
info:
  title: API Title
  version: '1.0'
servers:
  - url: https://cms.mytiki.com/api
paths:
  /datasets:
    description: Return the list of available datasets.
    get:
      responses:
        '200':
          description: An array of available datasets.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dataset'

  /datasets/{datasetId}:
    description: Return the dataset with the given id.
    parameters:
      - name: datasetId
        in: path
        required: true
        schema:
          type: integer
    get:
      responses:
        '200':
          description: The requested dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetObject'

  /legal:
    get:
      responses:
        '200':
          description: The legal notice.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Legal"

components:
  schemas:
    Dataset:
      type: object
      properties:
        name:
          type: string
        id:
          type: integer

    DatasetObject:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        stats:
          type: object
          properties:
            updates:
              type: string
            updatedAt:
              type: string
              format: date-time
            years:
              type: number
            contains:
              type: array
              items:
                type: string
            approvedFor:
              type: array
              items:
                type: string
        charts:
          type: object
          properties:
            array:
              type: array
              items:
                type: array
                items:
                  $ref: '#/components/schemas/Chart'

        taxonomy:
          type: object
          properties:
            name:
              type: string
            type:
              type: string
            description:
              type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        publishedAt:
          type: string
          format: date-time

    Axis:
      type: object
      properties:
        x:
          type: number
        y:
          type: number
        r:
          type: number
          nullable: true

    Chart:
      type: object
      properties:
        label:
          type: string
        data:
          type: array
          items:
            oneOf:
              - type: string
              - type: number
              - $ref: '#/components/schemas/Axis'
        backgroundColor:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          nullable: true
        borderColor:
          type: string
          nullable: true
        color:
          type: string
          nullable: true
        fill:
          type: boolean
          nullable: true

    ChartData:
      type: object
      properties:
        type:
          type: string
          nullable: true
        labels:
          type: array
          items:
            oneOf:
              - type: string
              - type: number
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
        width:
          type: number
          nullable: true
        height:
          type: number
          nullable: true

    Legal:
      type: object
      properties:
        trailInfo:
          type: array
          items:
            $ref: '#/components/schemas/TrailInfo'
        agreements:
          type: array
          items:
            $ref: '#/components/schemas/Agreement'

    TrailInfo:
      type: object
      properties:
        date:
          type: string
        approved:
          type: boolean
        agreement:
          type: string

    Agreement:
      type: object
      properties:
        name: 
          type: string
        records:
          type: string
        approvedFor:
          type: array
          items:
            type: string
  
